# Compiled objects
*.d
*.o

# Compiled libraries
*.a
*.so
*.dll
*.lib

# Executables
*.exe

# CMake generated artifacts
CMakeCache.txt
CMakeFiles
*.cmake
DartConfiguration.tcl
Makefile

# Eclipse artifacts
.cproject
.project

