# Compiled objects
*.d
*.o

# Compiled libraries
*.a
*.so
*.dll
*.lib

# Executables
*.exe
bin

# CMake generated artifacts
CMakeCache.txt
*.cmake
CMakeDoxyfile.in
CMakeFiles
DartConfiguration.tcl
Makefile

# ctest generated artifacts
Testing

# Eclipse artifacts
.cproject
.project
.settings

/build/
